{
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "scss/at-mixin-argumentless-call-parentheses" : "always",
    "scss/selector-no-redundant-nesting-selector" : true,
    "string-quotes": "single",
    "selector-max-id": 0
  }
}
