$dropdown__width-min: 200px;
$dropdown__index-z: 1010;
$dropdown__padding-y: 1rem;
$dropdown__padding-x: 1rem;
$dropdown__margin-top: 1rem;
$dropdown__color-background: $color-palette__white;
$dropdown__box-shadow: 0 3px 8px rgba($color-palette__black,.15);
