$switch__width:  62px;
$switch__height: 28px;
$switch__border-width: 1px;
$switch__border-radius: 0;
$switch__colors: (
  primary: (
    color: #10467d,
  ),
  secondary: (
    color: #464a4e,
  ),
  success: (
    color: #1a6d4e,
  ),
  warning: (
    color: #82532f,
  ),
  danger: (
    color: #7d2a39,
  )
);
